/*#region Base*/

html {
  body {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    line-height: 1.80857;
    height: 100%;

    &::-webkit-scrollbar-track {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      width: 5px;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }
  }
}

html[dir="rtl"] {
  body {
    font-family: 'fa-Font', 'OpenSans', sans-serif;
  }
}

section {
  margin-top: 1.5rem;
}

a {
  text-decoration: none;
  outline: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;

  &:hover {
    cursor: pointer;
  }
}

p, span {
  text-align: justify;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

h1, .h1, h1 *, .h1 *,
h2, .h2, h2 *, .h2 *,
h3, .h3, h3 *, .h3 *,
h4, .h4, h4 *, .h4 *,
h5, .h5, h5 *, .h5 *,
h6, .h6, h6 *, .h6 * {
  letter-spacing: 0;
  font-weight: bold;
  padding: 0;
  line-height: 120%;
  margin: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1, .h1, h1 *, .h1 *, {
  font-size: 34px
}

h2, .h2, h2 *, .h2 *, {
  font-size: 28px
}

h3, .h3, h3 *, .h3 *, {
  font-size: 22px
}

h4, .h4, h4 *, .h4 *, {
  font-size: 20px
}

h5, .h5, h5 *, .h5 *, {
  font-size: 18px
}

h6, .h6, h6 *, .h6 *, {
  font-size: 16px
}

.bold {
  font-weight: bold;
}

h1 a, .h1 a,
h2 a, .h2 a,
h3 a, .h3 a,
h4 a, .h4 a,
h5 a, .h5 a,
h6 a, .h6 a, {
  text-decoration: none;
  opacity: 1
}

h1 a:hover, .h1 a:hover,
h2 a:hover, .h2 a:hover,
h3 a:hover, .h3 a:hover,
h4 a:hover, .h4 a:hover,
h5 a:hover, .h5 a:hover,
h6 a:hover, .h6 a:hover, {
  opacity: .8
}

a,
.btn {
  text-decoration: none;
  outline: none;
}

ul, li, ol {
  margin: 0;
  list-style: none;
  padding: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

textarea:focus-visible {
  outline: none;
}

input:focus-visible {
  outline: none;
}

/*#endregion*/

/*#region Grid*/

.w-5 {
  width: 5% !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-25 {
  width: 25% !important;
}

.w-30 {
  width: 30% !important;
}

.w-35 {
  width: 35% !important;
}

.w-40 {
  width: 40% !important;
}

.w-45 {
  width: 45% !important;
}

.w-50 {
  width: 50% !important;
}

.w-55 {
  width: 55% !important;
}

.w-60 {
  width: 60% !important;
}

.w-65 {
  width: 65% !important;
}

.w-70 {
  width: 70% !important;
}

.w-75 {
  width: 75% !important;
}

.w-80 {
  width: 80% !important;
}

.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 90% !important;
}

.w-95 {
  width: 95% !important;
}

.w-100 {
  width: 100% !important;
}

.w-fit {
  width: fit-content !important;
}

.h-5 {
  height: 5% !important;
}

.h-10 {
  height: 10% !important;
}

.h-15 {
  height: 15% !important;
}

.h-20 {
  height: 20% !important;
}

.h-25 {
  height: 25% !important;
}

.h-30 {
  height: 30% !important;
}

.h-35 {
  height: 35% !important;
}

.h-40 {
  height: 40% !important;
}

.h-45 {
  height: 45% !important;
}

.h-50 {
  height: 50% !important;
}

.h-55 {
  height: 55% !important;
}

.h-60 {
  height: 60% !important;
}

.h-65 {
  height: 65% !important;
}

.h-70 {
  height: 70% !important;
}

.h-75 {
  height: 75% !important;
}

.h-80 {
  height: 80% !important;
}

.h-85 {
  height: 85% !important;
}

.h-90 {
  height: 90% !important;
}

.h-95 {
  height: 95% !important;
}

.h-100 {
  height: 100% !important;
}

.h-fit {
  height: fit-content !important;
}

.min-height-full {
  min-height: 100vh !important;
}

.start-5 {
  left: 5% !important;
}

.start-10 {
  left: 10% !important;
}

.start-15 {
  left: 15% !important;
}

.start-20 {
  left: 20% !important;
}

.start-25 {
  left: 25% !important;
}

.start-30 {
  left: 30% !important;
}

.start-35 {
  left: 35% !important;
}

.start-40 {
  left: 40% !important;
}

.start-45 {
  left: 45% !important;
}

.start-55 {
  left: 55% !important;
}

.start-60 {
  left: 60% !important;
}

.start-65 {
  left: 65% !important;
}

.start-70 {
  left: 70% !important;
}

.start-75 {
  left: 75% !important;
}

.start-80 {
  left: 80% !important;
}

.start-85 {
  left: 85% !important;
}

.start-90 {
  left: 90% !important;
}

.start-95 {
  left: 95% !important;
}

/*#endregion*/

//#region Class 

.pointer:hover {
  cursor: pointer;
}

.dropdown-toggle::after {
  display: none;
}

.Free-Content-Container img, .Free-Content-Container > img {
  max-width: 100% !important;
  height: auto;
}

//#endregion

#components-reconnect-modal, #components-reconnect-modal, .tox-promotion-link, .tox-statusbar__branding {
  display: none !important;
}

//#region MudBlazor

.Hamkare-None-Border {
  .mud-input-control-input-container {
    .mud-input {
      .mud-input-outlined-border {
        display: none;
      }
    }
  }
}

//#region Chart

.mud-chart {
  width: 100%;
}

//#endregion

//#region Switch

.mud-switch {
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}

.mud-switch-base.mud-checked + .mud-switch-track {
  background-color: var(--mud-palette-primary);
}

//#endregion

//#region TimePicker

.mud-paper {
  .mud-picker-container {
    .mud-picker-toolbar {
      height: 55px !important;
      align-items: center !important;

      .mud-timepicker-hourminute {
        .mud-timepicker-button {
          .mud-button-label {
            font-size: 1.66rem !important;
            font-weight: bold !important;
          }
        }

        .mud-timepicker-separator {
          font-size: 1.66rem !important;
          font-weight: bold !important;
        }
      }
    }

    .mud-picker-datepicker-toolbar {
      .mud-button-lable {
        font-size: 1.66rem !important;
        font-weight: bold !important;
      }
    }

    .mud-picker-content {
      .mud-picker-calendar-content-1 {
        .mud-picker-calendar-container {
          .mud-picker-calendar-header-1 {
            .mud-picker-calendar-header-day {
              .mud-typography-caption {
                font-size: 0.58rem !important;
                font-weight: bold !important;
              }
            }
          }
        }
      }
    }
  }
}

//#endregion

//#region DatePicker

.mud-picker-container {

  .mud-picker-datepicker-toolbar {
    .mud-button-date {
      font-size: 0.9rem;
      font-weight: bold;
      padding: 0 8px !important;
    }

    .mud-button-year {
      font-size: 0.9rem;
      font-weight: bold;
      padding: 0 8px !important;
    }
  }

  .mud-picker-content {
    .mud-picker-calendar-content {
      grid-column-gap: 0;
    }

    .mud-picker-calendar-container {
      .mud-picker-calendar-header {
        .mud-picker-calendar-header-day {
          .mud-typography-caption {
            font-size: 0.58rem !important;
            font-weight: bold !important;
          }
        }
      }
    }
  }

}

//#endregion

//#region AutoSelect

.mud-rtl-provider, .mud-application-layout-rtl {
  .mud-select {
    .mud-input-control {
      .mud-input-control-input-container {
        .progress-indicator-circular {
          justify-content: flex-start;
          padding-right: 2rem;
        }
      }
    }
  }
}

//#endregion 

//#region Dialog

.mud-dialog .mud-dialog-title {
  background: var(--mud-palette-primary-hover);
  border-radius: 8px !important;
  margin: 1rem !important;
  padding: 12px !important;
}

.mud-dialog-content {
  .mud-checkbox {
    justify-content: space-between;
  }
}

//#endregion

//#endregion

//#region Hamkare

//#region Group

.Group-section .mud-expand-panel-header {
  padding: 0 !important;
}

.Group-section .mud-collapse-entered {
  padding: 16px !important;
  border-radius: var(--mud-default-borderradius) !important;
  border: 1px solid var(--mud-palette-lines-default) !important;
}

.Group-section .mud-expand-panel-text {
  color: var(--mud-palette-primary);
  font-size: var(--mud-typography-h6-size);
}

//#endregion

//#region DefaultGroupMenu

.DefaultGroupMenuTabHeaderClass {
  .mud-tabs-tabbar-inner {
    .mud-tabs-tabbar-content {
      .mud-tabs-tabbar-wrapper {
        width: 100%;
        gap: 0.8rem;

        .d-inline-block {
          width: auto !important;
        }

        .mud-tab-slider {
          display: none;
        }
      }
    }
  }
}

.DefaultPopOverClass {

  border-radius: 30px;
  overflow: hidden;

  .mud-list {

    .DefaultTabClass {

      .DefaultTabHeaderClass {

        background-color: var(--bs-fourth);
        padding: 0.8rem;

        .DefaultTabPanelClass {

          background-color: var(--mud-palette-white);
          border-radius: 50px;
          justify-content: space-between;

          &:hover {

            background-color: var(--bs-third);
            color: var(--mud-palette-white) !important;
          }

          span {
            color: var(--mud-palette-white);
          }
        }
      }

      .DefaultPanelClass {
        padding: 0.8rem;
      }
    }
  }
}

.mud-tab-active {
  color: unset !important;
}


//#endregion

//#endregion

//#region KeyFrame

@keyframes LoadingAnimate {

  0.00% {
    transform: translate(0.00px, 0.00px) rotate(0.00deg) scale(1.00, 1.00) skew(0deg, 0.00deg);
    opacity: 1.00;
  }

  2.00% {
    animation-timing-function: cubic-bezier(0.32, 0.35, 0.65, 0.68);
    transform: translate(0.00px, 0.00px) rotate(0.00deg) scale(0.65, 1.00);
  }

  8.00% {
    transform: translate(0.00px, 0.00px) rotate(0.00deg) scale(0.07, 1.00);
  }

  10.00% {
    transform: translate(0.00px, 0.00px) rotate(180.00deg) scale(0.10, -1.00);
  }

  12.00% {
    animation-timing-function: cubic-bezier(0.30, 0.37, 0.60, 0.74);
    transform: translate(0.00px, 0.00px) rotate(180.00deg) scale(0.26, -1.00);
  }

  24.00% {
    transform: translate(0.00px, 0.00px) rotate(180.00deg) scale(0.98, -1.00);
  }

  26.00% {
    transform: translate(0.00px, 0.00px) rotate(180.00deg) scale(1.00, -0.78);
  }

  28.00% {
    animation-timing-function: cubic-bezier(0.24, 0.35, 0.58, 0.86);
    transform: translate(0.00px, 0.00px) rotate(180.00deg) scale(1.00, -0.54);
  }

  50.00% {
    transform: translate(0.00px, 0.00px) rotate(180.00deg) scale(1.00, 1.00);
  }

  52.00% {
    animation-timing-function: cubic-bezier(0.32, 0.35, 0.65, 0.68);
    transform: translate(0.00px, 0.00px) rotate(180.00deg) scale(0.65, 1.00);
  }

  58.00% {
    transform: translate(0.00px, 0.00px) rotate(180.00deg) scale(0.07, 1.00);
  }

  60.00% {
    transform: translate(0.00px, 0.00px) rotate(0.00deg) scale(0.10, -1.00);
  }

  62.00% {
    animation-timing-function: cubic-bezier(0.30, 0.37, 0.60, 0.74);
    transform: translate(0.00px, 0.00px) rotate(0.00deg) scale(0.26, -1.00);
  }

  74.00% {
    transform: translate(0.00px, 0.00px) rotate(0.00deg) scale(0.98, -1.00);
  }

  76.00% {
    transform: translate(0.00px, 0.00px) rotate(0.00deg) scale(1.00, -0.78);
  }

  78.00% {
    animation-timing-function: cubic-bezier(0.28, 0.37, 0.60, 0.75);
    transform: translate(0.00px, 0.00px) rotate(0.00deg) scale(1.00, -0.54);
  }

  100.00% {
    animation-timing-function: cubic-bezier(0.28, 0.37, 0.60, 0.75);
    transform: translate(0.00px, 0.00px) rotate(0.00deg) scale(1.00, 1.00);
  }
}

//#endregion